<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

    <parameter name="browser" value="opera"></parameter>
    <test name="Valid login">
        <classes>
            <class name="loginTest.ValidLoginTest">
                <methods>
                    <include name="verifySignInButtonDisplayed"></include>
                    <include name="verifyValidLogIn"></include>
                </methods>
            </class>
            <class name="loginTest.InvalidLoginTest">
                <methods>
                    <include name="verifySignInButtonDisplayed"></include>
                    <include name="verifyValidLogIn"></include>
                </methods>
            </class>
        </classes>

    </test>

</suite>